.game-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.left-panel, .right-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#pause, #level, #purchase {
  font-size: 2em;
}

#countdown {
  font-size: 3em;
}
